html
    head
        title=SmartBet
        link(rel="stylesheet",type="text/css",href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet",type="text/css",href="/lib/animate.css/animate.min.css")
        link(rel="stylesheet",type="text/css",href="/css/main.css")
            
  body
    .container
        nav.nav.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="/index")
                        i.fa.fa-cutlery
                        span.logo SmartBet

        .container-fluid
            .row#index
                .col-xs-12.col-md-12
                    .content 
                        block content
            .row#result
                div#outer.col-md-9
                    div#main(style="margin: 0px auto;")
                        div#div1
                        div#div2
                        div#div3
                        div#div4
                div#score-chart
                div#goals
                div#odds
                    table#odd-table.table.table-hover
                        thead
                            tr
                                th Odds
                                th Minimal odds
                        tbody
                            
    script(src="/lib/d3/d3.js")
    script(src="/js/radialProgress.js")
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="http://code.highcharts.com/modules/data.js")
    script(src="http://code.highcharts.com/modules/drilldown.js")
    script(src="/js/main.js")    

